{% extends "layout.html" %}
{% load static %}

{% block body %}


<section class="form-12" id="home">
	<div class="form-12-content">
		<div class="container">
			<div class="grid grid-column-2 ">
				<div class="column2">
					</div>
				<div class="column1">
					<h3 class="tagline mb-3">Get a Free Moving Quote</h3>
					
						<form action="https://demo.w3layouts.com/" method="Get">
							<div class="">
								<input type="text" name="name" class="form-input" placeholder="From a City or Location" />
							</div>
							<div class="">
								<input type="text" name="name" class="form-input" placeholder="To a City or Location" />
							</div>
							<div class="">
								<input type="text" name="name" class="form-input" placeholder="Your Name" />
							</div>
							<div class="">
								<input type="email" name="email" class="form-input" placeholder="Email" />
							</div>
							<div class="">
								<input type="tel" name="phone" class="form-input" placeholder="Phone" />
							</div>
							<button type="submit" class="btn">Submit</button>
						</form>
					</div>
				
			</div>
		</div>
	</div>
</section>
<section class="w3l-features-1">
	<!-- /features -->
		<div class="features py-4">
            <div class="container">
			
			<div class="fea-gd-vv row ">	
			   <div class="float-lt feature-gd col-lg-3 col-sm-6">	
					 <div class="icon"> <span class="fa fa-truck" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5>Free Estimate</h5>
					</div>
					 
				</div>	
				<div class="float-mid feature-gd col-lg-3 col-sm-6 mt-sm-0 mt-4">	
					 <div class="icon"> <span class="fa fa-file-text-o" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5>Flat Rates</h5>
					</div>
			 </div> 
				<div class="float-rt feature-gd col-lg-3 col-sm-6 mt-lg-0 mt-4">	
					 <div class="icon"> <span class="fa fa-clone" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5>Quick Delivery</h5>
					</div>
			 </div>	 
			 <div class="float-lt feature-gd col-lg-3 col-sm-6 mt-lg-0 mt-4">	
					 <div class="icon"> <span class="fa fa-clock-o" aria-hidden="true"></span></div>
					 <div class="icon-info">
						<h5>24/7 Working Hours</h5>
					</div>
				</div>	
		</div>  
		 </div>
	   </div>
   <!-- //features -->
</section>
<!-- content-with-photo4 block -->
<section class="grids-4" id="news">
    <div id="grids4-block" class="py-2">
       <div class="container py-md-5">
            <div class="row mt-2 pt-3">
                <div class="grids4-info  col-lg-4 col-md-6">
                      
                        <div class="info-bg editContent">
                            <a href="blog.html"><img src="{% static 'assets/images/g2.jpg' %}" class="img-fluid" alt=""></a>
                            <h5 class="mt-4 mb-3 editContent"><a class="editContent" href="blog.html">Waring & Packaging of Goods</a></h5>
                           <li class="pr-3"><span class="fa fa-calendar"></span> January 18, 2020</li>
                           <li><a href="blog.html"><span class="fa fa-arrow-circle-right"></span> Read More</a></li>
                        </div>
                    </div>
                <div class="grids4-info col-lg-4 col-md-6 mt-md-0 mt-4">
                       
                        <div class="info-bg editContent">
                            <a href="blog.html"><img src="{% static 'assets/images/g6.jpg' %}" class="img-fluid" alt=""></a>
                            <h5 class="mt-4 mb-3 editContent"><a class="editContent" href="blog.html">Freight Transportation & Logistics
                            </a></h5>
                            <li class="pr-3"><span class="fa fa-calendar"></span> January 18, 2020</li>
                            <li><a href="blog.html"><span class="fa fa-arrow-circle-right"></span> Read More</a></li>
                        </div>
                    </div>
                 <div class="grids4-info col-lg-4 col-md-6 offset-lg-0 offset-md-3 mt-lg-0 mt-4">
                      
                        <div class="info-bg editContent">
                            <a href="blog.html"><img src="{% static 'assets/images/g10.jpg' %}" class="img-fluid" alt=""></a>
                            <h5 class="mt-4 mb-3 editContent"><a class="editContent" href="blog.html">Twist Locks Connection Devices</a></h5>
                            <li class="pr-3"><span class="fa fa-calendar"></span> January 18, 2020</li>
                            <li><a href="blog.html"><span class="fa fa-arrow-circle-right"></span> Read More</a></li>
                        </div>
                    </div>
					
                </div>
           </div>
    </div>
</section>
<!-- content-with-photo4 block -->
<!-- specifications -->

    <!-- skills-1 block -->

    <!-- Teams14 block -->

<section class="w3l-feature-2">
		<div class="grid top-bottom py-5">
			<div class="container py-md-5">
				<div class="heading text-center mx-auto">
					<h3 class="head">How We Work</h3>
					<p class="my-3 head"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
					  Nulla mollis dapibus nunc, ut rhoncus
					  turpis sodales quis. Integer sit amet mattis quam.</p>
					  
				  </div>
				<div class="middle-section row mt-5 pt-3">
					<div class="three-grids-columns col-lg-3 col-sm-6 ">
						<div class="icon"> <span class="fa fa-arrows" aria-hidden="true"></span></div>
						<h4>01. Book Us</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor.</p>
						<a href="services.html" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
					<div class="three-grids-columns col-lg-3 col-sm-6 mt-sm-0 mt-5">
						<div class="icon"> <span class="fa fa-cog" aria-hidden="true"></span></div>
						<h4>02. Pack your Goods</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor.</p>
						<a href="services.html" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
					<div class="three-grids-columns col-lg-3 col-sm-6 mt-lg-0 mt-5">
						<div class="icon"> <span class="fa fa-adjust" aria-hidden="true"></span></div>
						<h4>03. Move your Goods</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor.</p>
						<a href="services.html" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
					<div class="three-grids-columns col-lg-3 col-sm-6 mt-lg-0 mt-5">
						<div class="icon"> <span class="fa fa-anchor" aria-hidden="true"></span></div>
					<h4>04. We Deliver</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor.</p>
					<a href="services.html" class="red mt-3">Read More <span class="fa fa-angle-right pl-1"></span></a>
					</div>
				</div>
			</div>
		</div>
	</section>

   <!--customers-7-->
    <section class="w3l-customers-8" id="testimonials">
		<div class="customers_sur py-5">
            <div class="container py-md-5">
                <div class="heading text-center mx-auto">
                    <h3 class="head text-white">Words From Our Clients</h3>
                    <p class="my-3 head text-white"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                      Nulla mollis dapibus nunc, ut rhoncus
                      turpis sodales quis. Integer sit amet mattis quam.</p>
                  </div>
                <div class="customers-top_sur row mt-5 pt-3">
                    <div class="customers-left_sur col-md-6">
                        <div class="customers_grid">
                            
                            <p class="sub-test"><span class="fa fa-quote-left"></span> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                            
                        </div>
                        <div class="customers-bottom_sur row">
                            <div class="custo-img-res col-2">
                                <img src="{% static 'assets/images/te2.jpg' %}" alt=" " class="img-responsive">
                            </div>
                            <div class="custo_grid col-10">
                                <h5 class="text-white">Franklin Rosey</h5>
                                <span>Co-founder</span>
                            </div>
                        
                        </div>
                    </div>
                     <div class="customers-middle_sur col-md-6 mt-md-0 mt-4">
                        <div class="customers_grid">
                            
                            <p class="sub-test"><span class="fa fa-quote-left"></span> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                            
                        </div>
                        <div class="customers-bottom_sur row">
                            <div class="custo-img-res col-2">
                                 <img src="{% static 'assets/images/te1.jpg' %}" alt=" " class="img-responsive">
                            </div>
                            <div class="custo_grid col-10">
                                <h5 class="text-white">Henry Jasmin</h5>
                                <span>Client</span>
                            </div>
                            
                        </div>
                    </div>	
                </div>
            </div>
		</div>
    </section>
    <!--//customers-7-->

<section class="grids-4" id="news">
    <div id="grids4-block" class="py-5">
       <div class="container py-md-5">
			<div class="heading text-center mx-auto">
      <h3 class="head">Latest News</h3>
      <p class="my-3 head"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Nulla mollis dapibus nunc, ut rhoncus
        turpis sodales quis. Integer sit amet mattis quam.</p>
    </div>
            <div class="row mt-5 pt-3">
                <div class="grids4-info  col-lg-4 col-md-6">
                      
                        <div class="info-bg editContent">
                            <a href="blog.html"><img src="{% static 'assets/images/g2.jpg' %}" class="img-fluid" alt=""></a>
                            <h5 class="mt-4 mb-3 editContent"><a class="editContent" href="blog.html">Waring & Packaging of Goods</a></h5>
                           <li class="pr-3"><span class="fa fa-calendar"></span> January 18, 2020</li>
                           <li><a href="blog.html"><span class="fa fa-arrow-circle-right"></span> Read More</a></li>
                        </div>
                    </div>
                <div class="grids4-info col-lg-4 col-md-6 mt-md-0 mt-4">
                       
                        <div class="info-bg editContent">
                            <a href="blog.html"><img src="{% static 'assets/images/g6.jpg' %}" class="img-fluid" alt=""></a>
                            <h5 class="mt-4 mb-3 editContent"><a class="editContent" href="blog.html">Freight Transportation & Logistics
                            </a></h5>
                            <li class="pr-3"><span class="fa fa-calendar"></span> January 18, 2020</li>
                            <li><a href="blog.html"><span class="fa fa-arrow-circle-right"></span> Read More</a></li>
                        </div>
                    </div>
                 <div class="grids4-info col-lg-4 col-md-6 offset-lg-0 offset-md-3 mt-lg-0 mt-4">
                      
                        <div class="info-bg editContent">
                            <a href="blog.html"><img src="{% static 'assets/images/g10.jpg' %}" class="img-fluid" alt=""></a>
                            <h5 class="mt-4 mb-3 editContent"><a class="editContent" href="blog.html">Twist Locks Connection Devices</a></h5>
                            <li class="pr-3"><span class="fa fa-calendar"></span> January 18, 2020</li>
                            <li><a href="blog.html"><span class="fa fa-arrow-circle-right"></span> Read More</a></li>
                        </div>
                    </div>
					
                </div>
           </div>
    </div>
</section>

 
{% endblock %}