{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block body %}



<center>
                 
                   
                     <section class="w3l-login">
                     <div class="login-bg section-gap">
                     <div class="container" style="width: 500px;">
                    <div class="login-form" style="width: 500px;">
<p> Check Your Mail and Forgot Your Password! </p>

</div>
</div>
</div>
</div>
</section>
</center>

{% endblock %}
