

{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block body %}



<center>
                 
                   
                     <section class="w3l-login">
                     <div class="login-bg section-gap">
                     <div class="container" style="width: 500px;">
                    <div class="login-form" style="width: 500px;">
                     <h4 class="form-head">Password Reset</h4>
<div style="padding-top: 30px;">
<form method="post" novalidate>
    {% csrf_token %}
    {{form|crispy}}
    <div style="padding-top: 30px;">
        <button type="submit" class="btn btn-secondary btn-theme">Submit</button>
     </div>
</form>
<hr style="width:80%; border-width: 1px; border-style:solid;">

<a href="{% url 'signup' %}">Create New Account</a>
</div>
</div>
</div>
</div>
</section>
</center>

{% endblock %}
