{% extends "layout.html" %}
{% load static %}

{% block body %}

<section class="w3l-login">
  <div class="login-bg section-gap">
    <div class="container">
      <div class="login-form">
        <h4 class="form-head">Register</h4>
        <form action="{% url 'signup' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="">
            <p class="text-head">Name</p>
            <input type="text" name="name" class="input" placeholder="Enter Your Name.." />
          </div>
          <div class="">
            <p class="text-head">Email</p>
            <input type="email" name="email" class="input" placeholder="Enter Your Email.." />
          </div>
          <div class="">
            <p class="text-head">Password</p>
            <input type="password" name="password" class="input" placeholder="Choose Password.." />
          </div>
          <div class="">
            <p class="text-head">Confirm Password</p>
            <input type="password" name="confirmation" class="input" placeholder="Choose Password.." />
          </div>
         
          <label class="remember">
            <input type="checkbox">
            <span class="checkmark"></span>Remember me
          </label>
          <div class="d-grid align-login-register">
            <button type="submit" class="btn btn-secondary btn-theme">Register</button>
            <a href="{% url 'login' %}" class="signuplink">Login</a>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>

{% endblock %}
